<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dao.IDaoDonation">

    <select id="dntSltOne" resultType="donationDto" parameterType="int">
		 SELECT * FROM DONATION WHERE DNTNUM = #{dntNum}
	</select>

	<insert id="dntInsertHist" parameterType="donationDto">
	
		INSERT INTO DONATION 
		VALUES (#{dntNum}, #{dntMny}, #{dntCode} )
	</insert>

</mapper>
